include LICENSE
include README.md
recursive-include gecko_controller/fonts *.pcf
recursive-include gecko_controller/web/templates *.html
recursive-include gecko_controller/web/static/dist *
recursive-include gecko_controller/web/static/components *.jsx
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
