Package: gecko-controller
Version: 0.3.0
Architecture: all
Maintainer: Ian Ross Williams <ianrosswilliams@gmail.com>
Installed-Size: 79
Depends: python3-pil, python3-smbus2, python3:any, python3-pip, python3-venv, i2c-tools, python3 (>= 3.9)
Section: misc
Priority: optional
Description: Raspberry Pi Gecko Enclosure Controller
 Automated temperature and light controller for gecko enclosure
 with OLED status display. Monitors temperature and humidity,
 controls lighting cycles, manages heating, and displays status
 on an OLED screen.
