Package: gecko-controller
Version: 0.8.4
Architecture: all
Maintainer: Ian Ross Williams <ianrosswilliams@gmail.com>
Installed-Size: 415
Depends: python3:any, python3-pip, python3-venv, python3 (>= 3.9), python3-rpi.gpio, python3-lgpio, python3-pillow, python3-smbus, python3-flask (>= 2.2.2), i2c-tools
Section: misc
Priority: optional
Description: Raspberry Pi Gecko Vivarium Controller
 Automated environmental controller for gecko vivarium with OLED status
 display. Monitors temperature and humidity, controls day/night lighting
 cycles, manages heating, and provides both OLED display and web interface
 for status monitoring and configuration. Includes UV monitoring for
 optimal basking conditions.
