[Unit]
Description=Gecko Vivarium Controller
After=network.target

[Service]
Type=simple
User=gecko-controller
Group=gpio
WorkingDirectory=/var/run/gecko-controller
RuntimeDirectory=gecko-controller
LogsDirectory=gecko-controller
StateDirectory=gecko-controller
ConfigurationDirectory=gecko-controller
ConfigurationDirectoryMode=0750
Environment=PYTHONPATH=/usr/lib/python3/dist-packages
ExecStart=/usr/bin/python3 -m gecko_controller.controller
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
