[Unit]
Description=Gecko Controller Web Interface
After=gecko-controller.service

[Service]
Type=simple
User=gecko-controller
Group=gpio
WorkingDirectory=/var/run/gecko-controller
RuntimeDirectory=gecko-controller
LogsDirectory=gecko-controller
StateDirectory=gecko-controller
ConfigurationDirectory=gecko-controller
Environment=PYTHONPATH=/usr/lib/python3/dist-packages
ExecStart=/opt/gecko-controller/venv/bin/python3 -m gecko_controller.web.app
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
