#!/usr/bin/make -f

export PYBUILD_NAME=gecko_controller
export PYBUILD_SYSTEM=distutils
export DH_VERBOSE=1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	# Skip poetry build, use direct python build
	python3 setup.py build

override_dh_auto_install:
	python3 setup.py install --root=$(CURDIR)/debian/gecko-controller --install-layout=deb
	# Install additional files
	mkdir -p debian/gecko-controller/usr/bin
	mkdir -p debian/gecko-controller/etc/gecko-controller
	mkdir -p debian/gecko-controller/lib/systemd/system
	install -m 755 debian/gecko-controller.sh debian/gecko-controller/usr/bin/gecko-controller
	install -m 755 debian/gecko-web.sh debian/gecko-controller/usr/bin/gecko-web
	install -m 644 debian/gecko-controller.service debian/gecko-controller/lib/systemd/system/
	install -m 644 debian/gecko-web.service debian/gecko-controller/lib/systemd/system/
	install -m 644 debian/config.py debian/gecko-controller/etc/gecko-controller/

override_dh_auto_test:
	:
